/********** Template CSS **********/
:root {
    --primary: #014569;
    --primaryShadow: #01456934;
    /* --primary: #0A3D62; */
    --secondary: #FFA500;
    --light: #EDF1FC;
    --dark: #17224D;
    --background: #FAFAFB;
}

h1 {
    color: var(--primary);
}

.fw-medium {
    font-weight: 600 !important;
}

/* @keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
} */

/* scroll to top/section padding */
html {
    scroll-padding-top: 160px; /* adjust to your header’s height */
    scroll-behavior: smooth; /* optional, for smooth scroll */
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    outline: 1px solid var(--light);
    outline-offset: -3px;
    /* border: 2px solid #ffffff; */
}
.dual-arrow-back-to-top {
    color: var(--background) !important;
    text-shadow:
        3px 0 0 var(--primary),   /* right */
        -1px 0 0 var(--primary),  /* left */
        0 1px 0 var(--primary),   /* bottom */
        0 -1px 0 var(--primary);  /* top */
}

#gallery-modal {
    z-index: 99999;
}

#gallery-modal .modal-dialog {
    position: relative;
    max-width: 1000px;
    margin: 60px auto 0 auto;
}

#gallery-modal .modal-body {
    position: relative;
    padding: 0px;
}

#gallery-modal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: var(--background);
    background: #000000;
    opacity: 1;
}
.modal-box.show {
    display: block;
}
.modal-box-hide {
    display: none;
}
.modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000
}

.bg-primary {
    background-color: var(--primary) !important;
}
.text-primary {
    color: var(--primary) !important;
}
.white-bg {
    background-color: var(--background) !important;
}
.w-3rem {
    width: 3rem !important;
}
.h-3rem {
    height: 3rem !important;
}
.w-45 {
    width: 45px !important;
}
.h-45 {
    height: 45px !important;
}
.w-60 {
    width: 60px !important;
}
.h-60 {
    height: 60px !important;
}
.w-75 {
    width: 75px !important;
}
.h-75 {
    height: 75px !important;
}
.h-55 {
    height: 55px !important;
}
.h-60p {
    height: 60% !important;
}
.w-60p {
    width: 60% !important;
}
.w-80 {
    width: 80px !important;
}
.h-80 {
    height: 80px !important;
}
.w-80p {
    width: 80% !important;
}
.h-80p {
    height: 80% !important;
}
.min-h-500 {
    min-height: 500px !important;
}
.max-h-400 {
    max-height: 400px !important;
}
.bg-0004 {
    background: rgba(0, 0, 0, .4) !important;
}
.fit-cover {
    object-fit: cover !important;
}
.rotate-n90 {
    transform: rotate(-90deg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100vh;
    padding: 0 30px;
}
.border-radius-4 {
    border-radius: 4px !important;
}
.border-radius-5 {
    border-radius: 5px !important;
}
.border-radius-10 {
    border-radius: 10px !important;
}
.border-radius-15 {
    border-radius: 15px !important;
}
.border-radius-20 {
    border-radius: 20px !important;
}
.border-radius-30 {
    border-radius: 30px !important;
}
.border-radius-40 {
    border-radius: 40px !important;
}
.border-radius-50 {
    border-radius: 50% !important;
}
.border-radius-60 {
    border-radius: 60% !important;
}
.border-tl-radius-10 {
    border-top-left-radius: 10px !important;
}
.border-tr-radius-10 {
    border-top-right-radius: 10px !important;
}
.border-br-radius-10 {
    border-bottom-right-radius: 10px !important;
}
.border-bl-radius-10 {
    border-bottom-left-radius: 10px !important;
}
.border-color-primary {
    border-color: var(--primary) !important;
}
.position-left-10 {
    left: 10% !important;
}
.position-left-20 {
    left: 20% !important;
}
.fine-border {
    border: 1px solid var(--primary) !important;
    padding: 3px;
}

/*** custom carousel ***/
.carousel-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: transform 0.8s ease-in-out;
}

/* Slide left */
.carousel-slide.slide-left {
    transform: translateX(-100%);
}

/* Slide right */
.carousel-slide.slide-right {
    transform: translateX(100%);
}

/* Arrows */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;

    /* margin: 7px 0; */
    width: 45px;
    height: 45px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: var(--background);
    background: transparent;
    border: 1px solid var(--background);
    outline: 1px solid var(--primary);
    outline-offset: -3px;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.carousel-btn:hover {
    font-size: 25px;
    width: 48px;
    height: 48px;
}

.dual-arrow-prev {
    color: var(--background);
    text-shadow:
        3px 0 0 var(--primary),   /* right */
        -1px 0 0 var(--primary),  /* left */
        0 1px 0 var(--primary),   /* bottom */
        0 -1px 0 var(--primary);  /* top */
}
.dual-arrow-next {
    color: var(--background);
    text-shadow:
        1px 0 0 var(--primary),   /* right */
        -3px 0 0 var(--primary),  /* left */
        0 1px 0 var(--primary),   /* bottom */
        0 -1px 0 var(--primary);  /* top */
}

.carousel-btn.prev {
    left: 20px;
}

.carousel-btn.next {
    right: 20px;
}

.carousel-slide.enter {
animation: carouselSlideInFromRight 0.8s ease-in-out;
}

/* Fade in/out */
.carousel-fade {
    opacity: 0;
}

/* Fade-in */
.carousel-fade.fade-in {
    animation: realisticFadeIn 0.8s ease-in-out forwards;
}
/* Keyframes: visible 0 → 0.5 → 1 flow */
@keyframes realisticFadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* Fade-out */
.carousel-fade.fade-out {
    animation: realisticFadeOut 0.8s ease-in-out forwards;
}
@keyframes realisticFadeOut {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}


/* facts counter */
.count-up {
transition: all 0.2s ease-out; /* smooth visual response */
transform: translateY(0);
}

.count-up[data-animating="true"] {
transform: translateY(-2px); /* small lift for life-like feel */
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: var(--background);
}
.btn-border-white {
    border-color: var(--background);
}
.btn.btn-primary-color,
.btn.btn-secondary-color {
    color: var(--primary);
    border-color: var(--primary);
}
.btn.btn-primary-color:hover,
.btn.btn-secondary-color:hover {
    color: var(--background);
    border-color: var(--background);
    background-color: var(--primary);
}
.btn.btn-primary {
    background-color: transparent;
}
.btn.btn-primary:hover {
    background-color: var(--primary);
}
.btn.btn-primary:active,
.btn.btn-primary-color:active {
    font-size: 0.8rem;
    transition: all 0.1s;
}

.btn-custom {
    width: 38px;
    height: 38px;
}

.btn-sm-custom {
    width: 32px;
    height: 32px;
}

.btn-lg-custom {
    width: 48px;
    height: 48px;
}

.btn-custom,
.btn-sm-custom,
.btn-lg-custom {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** navbar to top btn ***/
.top-bar {
    height: 73px;
    padding: 0 4rem;
}

.nav-bar {
    position: relative;
    padding: 0 4.75rem;
    transition: .5s;
    z-index: 9999;
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0;
    z-index: 9999;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link-container {
    /* margin-right: 30px; */
    padding: 5px 3px;
    /* color: var(--dark); */
    /* font-size: 15px; */
    /* font-weight: 600; */
    /* text-transform: uppercase; */
    /* outline: none; */
}

.navbar-light .navbar-nav .nav-link {
    /* margin-right: 30px; */
    /* padding: 25px 0; */
    color: var(--dark);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    position: inherit;
    z-index: 1001 !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    background-color: var(--primary);
    color: var(--light);
    border-radius: 4px;
    /* transform: skewX(-20deg); */
}

.site-logo {
    /* width: 100%; */
    height: auto;         /* scale proportionally */
    display: block;       /* remove extra inline spacing */
    transition: transform 0.3s ease, filter 0.3s ease; /* smooth hover effect */
}

.site-logo:hover {
    transform: scale(1.03);    /* slightly enlarge on hover */
    filter: drop-shadow(0 0 5px var(--primaryShadow)); /* optional glow/shadow */
}
.site-logo:active {
    transform: scale(1);
    /* filter: drop-shadow(0 0 5px var(--primaryShadow)); */
}

@media (max-width: 991.98px) {
    .nav-bar {
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid #EEEEEE;
    }
}

.dropdown-item.active {
    background-color: var(--primary);
    color: var(--light);
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 80%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .container,
.page-header .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid var(--background);
}

/* .header-carousel .container::before,
.header-carousel .container::after,
.page-header .container::before,
.page-header .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: #FFFFFF;
} */

.header-carousel .container::after,
.page-header .container::after {
    top: 100%;
    margin-top: -15px;
}

.min-H-carousel {
    min-height: 800px;
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.cloned {
    width: 347.583px;
    margin-right: 25px;
    float: left;
}

.carousel-slider {
    /* width: 3726px;
    animation: serviceCardSlide 18s ease-in-out infinite; */
    /* display: flex; */
    width: calc(4755 * 2); /* duplicate cards (6 original + 6 clone) */
    /* animation: serviceCardSlide 18s linear infinite; */
}

/* service-card slider */
.service-card-slider {
    /* width: 3726px;
    animation: serviceCardSlide 18s ease-in-out infinite; */
    display: flex;
    width: calc(372px * 8); /* duplicate cards (6 original + 6 clone) */
    /* animation: serviceCardSlide 18s linear infinite; */
}

@keyframes serviceCardSlide {
    /* 0%, 10% {
        transform: translate3d(0px, 0, 0);
    }
    20%, 30% {
        transform: translate3d(-372px, 0, 0);
    }
    40%, 50% {
        transform: translate3d(-744px, 0, 0);
    } */
    /* 60%, 70% {
        transform: translate3d(-1116px, 0, 0);
    } */
    /* 80%, 90% {
        transform: translate3d(-1488px, 0, 0);
    } */
    /* 100% {
        transform: translate3d(-1860px, 0, 0);
    } */
}

/* toast styling */
.custom_toast {
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid var(--light) !important;
    border-radius: 8px !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: var(--light) !important;
}
.Toastify__toast--success {
    --toastify-icon-color-success: var(--light);
    --toastify-color-progress-success: var(--light);
}
/* Info toast overrides */
.Toastify__toast--info {
    --toastify-icon-color-info: var(--secondary);
    --toastify-color-progress-info: var(--secondary);
}
/* (Optional) Error and warning */
/* .Toastify__toast--error {
--toastify-color-progress-error: #e91e63;
} */
/* .Toastify__toast--warning {
--toastify-color-progress-warning: #ffc107;
} */



@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h5,
    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }

    /* toast styling */
	.Toastify__toast-container--top-center {
        margin-top: 60px !important;
    }
    .custom_toast {
        max-width: 77%;
        margin: 0 auto;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
    background: transparent;
    border: 1px solid var(--background);
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

/*** Gallery ***/
.gallery-item img {
    transition: .5s;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item .gallery-text {
    height: 90px;
    overflow: hidden;
}

.gallery-item .gallery-text .bg-light,
.gallery-item .gallery-text .bg-primary {
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
}

.gallery-item .gallery-text .bg-primary {
    flex-direction: row;
}

.gallery-item:hover .gallery-text .bg-light {
    margin-top: -90px;
}

.gallery-item .gallery-text .bg-primary .btn {
    color: var(--primary);
    background: var(--background);
}

.gallery-item .gallery-text .bg-primary .btn:hover {
    color: var(--background);
    background: var(--secondary)
}

/*** Facts ***/
.fact {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
}


/*** Service ***/
.service-item-top img {
    transition: .5s;
}

.service-item-top:hover img {
    transform: scale(1.1);
}

.service-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.service-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: var(--primary);
    border: 5px solid var(--light);
    transition: .5s;
    border-radius: 50%;
}

.service-carousel .owl-dot.active {
    background: var(--light);
    border-color: var(--primary);
}

.services-btn {
    background-color: var(--background);
}
.services-btn:hover {
    background-color: var(--primary);
    color: var(--background) !important;
}


/*** Booking ***/


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    position: relative;
    transition: .5s;
}

.testimonial-carousel .owl-item .testimonial-text.active {
    background-color: var(--primary) !important;
    color: var(--background) !important;
}
/* .testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
} */
.testimonial-carousel .owl-item .testimonial-text.active::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: var(--light) transparent transparent transparent;
    transition: .5s;

}

.testimonial-carousel .owl-item .testimonial-text.active::after {
    border-color: var(--primary) transparent transparent transparent !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    font-size: 30px;
    color: var(--primary);
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}
.owl-loaded {
    display: block;
    width: 100%;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}
.testimonial-cloned {
    width: 425px;
    margin: 0 5px;
    float: left;
}

/* testimonial */
.testimonial-slider {
    /* width: 3876px;
    animation: testimonialsCardSlide 10s ease-in-out infinite; */
    display: flex;
    width: calc(424px * 4);
    /* animation: testimonialsCardSlide 30s linear infinite; */
}

/* @keyframes testimonialsCardSlide { */
    /* 0%, 10% {
      transform: translate3d(0px, 0, 0);
    }
    15%, 25% {
      transform: translate3d(-424px, 0, 0);
    }
    30%, 40% {
      transform: translate3d(-848px, 0, 0);
    }
    45%, 55% {
      transform: translate3d(-1272px, 0, 0);
    }
    60%, 70% {
      transform: translate3d(-1696px, 0, 0);
    } */

    /* 0%, 5% {
        transform: translate3d(0px, 0, 0);
      }
      10%, 15% {
        transform: translate3d(-424px, 0, 0);
      }
      20%, 25% {
        transform: translate3d(-848px, 0, 0);
      }
      30%, 35% {
        transform: translate3d(-1272px, 0, 0);
      }
      40%, 45% {
        transform: translate3d(-1696px, 0, 0);
      }
      50%, 55% {
        transform: translate3d(-2120px, 0, 0);
      }
      60%, 65% {
        transform: translate3d(-2544px, 0, 0);
      }
      70%, 75% {
        transform: translate3d(-2968px, 0, 0);
      }
      80%, 85% {
        transform: translate3d(-3392px, 0, 0);
      }
      90%, 95% {
        transform: translate3d(-3816px, 0, 0);
      }
      100% {
        transform: translate3d(-4240px, 0, 0);
      } */


    /* 75%, 80% {
      transform: translate3d(-2120px, 0, 0);
    } */
    /* 85%, 90% {
      transform: translate3d(-2544px, 0, 0);
    } */
    /* 95%, 100% {
      transform: translate3d(-2968px, 0, 0);
    } */
  /* } */
/* .testimonial-item {
    width: 424px;
    float: left;
    margin: 0 15px;
    position: relative;
} */
/* .testimonial-text.active {

} */


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid var(--background);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--background);
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

/* ################################################# */
/* ====================
Firefox
==================== */
@-moz-document url-prefix() {
    * {
      scrollbar-width: thin;                  /* 'auto' or 'thin' */
      scrollbar-color: var(--primary) transparent;   /* thumb | track */
    }
}

/* ====================
WebKit (Chrome, Edge, Safari)
==================== */
@supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
      width: 8px;   /* vertical */
      height: 8px;  /* horizontal */
    }

    ::-webkit-scrollbar-track {
        background: var(--background);
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--primary);
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--primaryShadow);
    }
}